
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
   color: #000;
}
a:hover{
    color: #000;
}

img{
    vertical-align: middle;
}
:root{
--bg-light: #fff;
--bg-dark:#f5f5f5;
--color-dark: #000;
--blue: #1572d3;
--color-red: #ec5453;
--color-yellow:#f9bf3f;
--color-light-purple:#a84cb8;
--color-green:#2fa499;
--color-dark-purple:#4054b2;
--color-light-black:#000000b3;
}
